.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.NewPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.ToggleButton {
    margin: 5px auto;
    display: block;
    padding: 10px;
    font: inherit;
    border: 1px solid blue;
    background-color: transparent;
    color: blue;
    cursor: pointer;
}